.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 150px;
}

.loader__dot {
    height: 15px;
    width: 500px;
    --c: no-repeat linear-gradient(#ffffff 0 0);
    background: var(--c), var(--c), #007bff;
    background-size: 60% 100%;
    animation: l16 3s infinite;
    border-radius: 10px;
}

@keyframes l16 {
    0% {
        background-position: -150% 0, -150% 0
    }

    66% {
        background-position: 250% 0, -150% 0
    }

    100% {
        background-position: 250% 0, 250% 0
    }
}